{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}


	{# section #}
	<section class="bg-[#f8f8f8] space-y-4 w-full lg:h-[200px] md:h-full sm:h-ful">


		<div class="text-2xl justify-center text-center items-center font-semibold lg:text-6xl  md:text-3xl sm:text-2xl">


			<p>Les Notes Récues!</p>


		</div>

	</section>

	{# section.end #}

	<div class="overflow-x-auto relative  mt-[100px] flex justify-center">
		{% if(notes) %}
			<table class="w-[50%]  text-sm text-center ">
				<thead class="text-xs text-white uppercase bg-[#2B292D] dark:text-white rounded-t-[10px]">
					<tr>

						<th scope="col" class="py-3 px-6">
							Contenu
						</th>

						<th scope="col" class="py-3 px-6">
							Notes
						</th>
					</tr>
				</thead>
				<tbody>
					{% for note in notes %}

						<tr class="bg-[#F8F8F8] border-b ">
							<td class="py-4 px-6">
								{{ note.ticket.contenu }}
							</td>

							<td class="py-4 px-6">
								{{note.text}}
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</tbody>
		</table>
	{% endif %}


</div>


<div class="flex justify-center mt-[80px]">
	<a class="px-6 py-2 text-center whitespace-nowrap bg-[#2B292D]  hover:bg-white hover:text-indigo-700 text-white rounded-full " href="/user/tickets">
		Back
	</a>
</div>
{% endblock %}
