{% extends 'base.html.twig' %}


{% block body %}
<div class="row-span-1 items-center mx-auto  mt-28">
<p class="text-lg font-semibold text-[#2B292D]">
Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans
	{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
</p>
<p class="text-lg font-semibold text-[#2B292D]">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou</p>



<a class="text-lg font-semibold text-[#2B292D]" href="{{ path('app_forgot_password_request') }}">réessayer.</a>.</p>



</div>
    


{% endblock %}
