{% extends 'base.html.twig' %}


{% block body %}


<div class="bg-[#f8f8f8] space-y-4 w-full lg:h-[342px] md:h-full sm:h-ful">


	<div class="text-2xl justify-center text-center items-center
font-semibold lg:text-6xl  md:text-3xl sm:text-2xl

    ">
<p>Vous avez de question ?</p>

		<p>Un projet ? Contactez-nous !</p>

	</div>

</div>

<div class="z-0 flex flex-col justify-center items-center lg:-mt-14 md:-mt-5 sm:mt-8 inset-1"><img class="h-50 inline" src="{{asset('build/images/Contactimage.afa0db5f.png')}}">
</div>



<div class="flex flex-col justify-center items-center md:mt-16 mt-2">
	<div class="flex w-full min-h-screen justify-center items-center">
		<div class="flex flex-col bg-gray-50 w-full max-w-2xl p-8 rounded-xl text-black">
			<div>

				<form action="" class="flex flex-col space-y-7">
					<div>
						<small>*champs obligatoires</small>
					</div>
					<div><input class="ring-2 ring-[#2B292D] w-full rounded-3xl px-4 py-2 outline-none placeholder-gray-500 required:border-red-500" type="text" placeholder="votre nom*"></div>
					<div><input class="ring-2 ring-[#2B292D] w-full rounded-3xl px-4 py-2 outline-none placeholder-gray-500 required:border-red-500" type="email" placeholder="votre adresse e-mail*"></div>
					<div><input class="ring-2 ring-[#2B292D] w-full rounded-3xl px-4 py-2 outline-none placeholder-gray-500 required:border-red-500" type="tel" placeholder="votre numero de telephone*" pattern="{+961} [0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}" required></div>
					<div>
						<select class="ring-2 ring-[#2B292D] w-full font-bold rounded-3xl px-4 py-2 outline-none placeholder-gray-500 " name="dropdown" id="dropdown">
							<option value="choix du pack">Choix du pack</option>
							<option value="1">1</option>
							<option value="2">2</option>

						</select>
					</div>
					<div>
						<textarea name="message" class="p-1 ring-2 ring-[#2B292D] w-full rounded-3xl outline-none placeholder-gray-500 required:border-red-500" id="message" rows="6" placeholder="    votre message*"></textarea>
					</div>
<button class="inline-block bg-[#2B292D] text-white font-bold rounded-3xl py-3 hover:bg-white hover:text-indigo-700">Envoyer votre message</button>

				</form>

			</div>
		</div>
	</div>

	<div class="font-bold m-5 text-3xl">
		<p>Venez nous voir</p>
	</div>

<div class="font-bold text-lg  m-5">

		<p>Marseille</p>
	</div>

	<div class="text-center text-lg flex flex-col space-y-2">
		<span>18-20 avenue Robert Schuman</span>
		<span>13002 Marseille</span>
		<span>04 91 77 13 18</span>
		<span class="font-bold underline underline-offset">
			<a href="https://www.bluedrop.fr/content/contact">contact@bluedrop.fr</a>
		</span>
	</div>
</div>





{% endblock %}
